<nav  class="navbar navbar-dark bg-info">

    <a href ="{% url 'admin_add' %}" class="btn btn-outline-light me-2">Add Book</a>
     <a href ="{% url 'admin_display' %}" class="btn btn-outline-light me-2">Display Book</a>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h3 style="color:white">LIBRARY MANAGEMENT</h3>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href ="{% url 'assign_book' %}" class="btn btn-outline-light me-2">Assign Book</a>
      <a href ="{% url 'assigned_display' %}" class="btn btn-outline-light me-2">Display Assign</a>

    <a href ="{% url 'logout' %}" class="btn btn-outline-light me-2">LOGOUT</a>

</nav>