<nav  class="navbar navbar-dark bg-warning">

    <a href ="{% url 'studenthome' %}" class="btn btn-outline-dark me-2">Home</a>
     <a href ="{% url 'studentprofile' %}" class="btn btn-outline-dark me-2">Get Profile</a>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <h3 style="color:light black">LIBRARY MANAGEMENT</h3>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href ="{% url 'studentdisplay' %}" class="btn btn-outline-dark me-2">Student Books</a>


    <a href ="{% url 'logout' %}" class="btn btn-outline-dark me-2">LOGOUT</a>

</nav>